[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "$KYPO_PYPI_DOWNLOAD_URL"
name = "kypo"
verify_ssl = true

[packages]
PyYaml = "*"
kypo-python-commons = { index = "kypo", version = "~=0.1.0" }
kypo-openstack-lib = { index = "kypo", version = "~=0.38.0" }
jinja2 = "*"
structlog = "*"

[dev-packages]

[requires]
python_version = "3.8"
