[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "$KYPO_PYPI_DOWNLOAD_URL"
name = "kypo"
verify_ssl = true

[packages]
PyYaml = "*"
kypo-python-commons = "==0.1.2"

[dev-packages]
kypo-openstack-lib = {editable = true, path = "/home/paluba/work/kypo-openstack-lib"}  # TODO remove

[requires]
python_version = "3.8"
